{
"greeting" : {
"default" : {
"default" : [
"Hi.",
"Greetings.",
"Hello."
]
}
},
"converse" : {
"default" : {
"default" : [
"What's your name?",
"Who're you?",
"Where did you come from?"
]
}
},
"accuse" : {
"default" : {
"default" : [
"HIISSSSSS!"
]
}
},
"alert" : {
"default" : {
"default" : [
"HISSSSSSSSSSSSSSS!"
]
}
},
"tagCriteria" : {
"default" : {
"default" : [
"This wasn't what our territory looked like before."
]
}
},
"enclosedArea" : {
"default" : {
"default" : [
"Oh no! Our home is damaged!"
]
}
},
"otherDeed" : {
"default" : {
"default" : [
"Grrr, this is OUR territory!"
]
}
},
"severe" : {
"default" : {
"default" : [
"Grrrr..."
]
}
},
"final" : {
"default" : {
"default" : [
"We're out of here!"
]
}
},
"beacon" : {
"default" : {
"default" : [
"Yes?"
]
}
},
"rent" : {
"default" : {
"default" : [
"Here, have this."
]
}
},
"cheerOn" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"helpme" : {
"default" : {
"default" : [
"Help us! Our fangs aren't good for self-defense!",
"Help! We have eight legs, but none have a weapon in them!",
"We're scared! We don't want to fight!",
"Please don't hurt us, we're not tasty!"
]
}
},
"helpthem" : {
"default" : {
"default" : [
"Someone's in trouble! We'll go get the warriors!"
]
}
},
"encourage" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"safe" : {
"default" : {
"default" : [
"Phew, that was close!"
]
}
}
}
