{
	"greeting": {
		"default": {
			"default": [
				"Hi.",
				"Uhm, hello strange creature from god-knows-where.",
				"What're you?",
				"Are you lost, too?",
				"You don't look familiar..."
			],
			"webber": [
				"Hi.",
				"Who're you?",
				"What's up?",
				"You can stay here, but don't take anything, please!"
			]
		}
	},
	"converse": {
		"default": {
			"default": [
				"We're just curious, who're you?",
				"Are you an alien?",
				"You have fewer legs than us, heh heh.",
				"I'm curious, what're you doing here?",
				"Safe travels, strange friend.",
				"What's with the towel you're holding?",
				"Do you know who created us?"
			],
			"webber": [
				"Wow, you're different.",
				"Weird things keep treating us like a major point of tourism. We just want to be left alone!",
				"I had eaten my cat who died a few years ago. It was tasty.",
				"At night, I keep hearing things.",
				"We need more lights here, it's too scary to go out at night!",
				"I wish that books were much more cheaper.",
				"If you want to read books, you got to go to a public library, but even then, they're closed when I'm not working.",
				"We finally won a game of stick swords, but we're still just a superloser.",
				"One day I heard the ground fart. It was probably my imagination.",
				"Wanna play?",
				"Hey, do you have any salt?",
				"We like it out here. It's peaceful... Until disease breaks out.",
				"Why do we all look alike? This is worrying.",
				"Strange creatures keep visiting us, and we don't know where they keep coming from.",
				"I wish I could find out more about myself.",
				"Nice hairstyle you have there.",
				"How do people even cope with living in the darkness?",
				"I'm bored.",
				"Are you actually from the heavens?"
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"HIISSSSSS, they're stealing my stuff!",
				"Stop taking our stuff, it's not yours!",
				"Thief!",
				"Thieves are food, not friends!"
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"Guards! Officiers! We need your support! They're robbing us!",
				"Help! We're being robbed of our lives' work!",
				"HISSSSSSSSSSSSSSS! Thief! Thief!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"Help us! Our fangs aren't good for self-defense!",
				"Help! We have eight legs, but none have a weapon in them!",
				"We're scared! We don't want to fight!",
				"Please don't hurt us, we're not tasty!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Phew, that was close!",
				"We're not gonna be able to sleep tonight.",
				"That was scarry!",
				"Am I safe?"
			]
		}
	}
}
