{
	"greeting": {
		"default": {
			"default": [
				"Hi.",
				"What're you?",
				"Uhm, hello strange creature from god-knows-where.",
				"Are you lost, too?",
				"You don't look familiar..."
			],
			"webber": [
				"Hi.",
				"Who're you?",
				"What's up?",
				"Are you here to buy produce?"
			]
		}
	},
	"converse": {
		"default": {
			"default": [
				"We're just curious, who're you?",
				"Are you an alien?",
        "Have you ever farmed before?",
        "I'm a farmer. People depend on me.",
        "Everyone says farmers are gods, but where's my paycheck?",
        "Do you sell seeds around here?",
        "Please don't abduct our livestock."
			],
			"webber": [
				"Weird things keep treating us like a major point of tourism. We just want to be left alone!",
				"At night, I keep hearing things.",
        "I'm a farmer. People depend on me.",
        "Everyone says farmers are gods, but where's my paycheck?",
        "Do you sell seeds around here?",
				"We need more lights here, it's too scary to work at night!",
				"I wish I could've gotten a better education. And job.",
				"We like it out here. It's peaceful... Until disease breaks out.",
				"Strange creatures keep visiting us, and we don't know where they keep coming from.",
				"How do people even cope with living in the darkness?",
        "I think the bird people are coming over here just to eat our seed supply.",
				"Are you actually from the heavens?"
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"We spent years trying to make this stuff!",
				"Stop taking our stuff, it's not yours!",
				"Thief!",
				"Thieves are food, not friends!"
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"Guards! Officiers! We need your support! They're robbing us!",
				"Help! We're being robbed of our lives' work!",
				"HISSSSSSSSSSSSSSS! Thief! Thief!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"Help us! Our fangs aren't good for self-defense!",
				"Help! We have eight legs, but none have a weapon in them!",
				"I'm scared! We don't want to fight!",
				"Please don't hurt us, we're not tasty!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Phew, that was close!",
				"We're not gonna be able to sleep tonight.",
				"That was scarry!",
				"Am I safe?"
			]
		}
	}
}
