{
	"version" : "0.6.1.1",
	"changelog" : "
^orange;-----     0.6.1.1      -----^reset;
> Bug fixes
^orange;-----     0.6.1      -----^reset;
Happy 1 Year of development!
> Weblings now have mutations.
> Fed Vanokkians more mutagenes.
> Vanokkians can craft silk platforms.
> Packed some webs together.
^orange;-----     0.6     -----^reset;
> Made GFOW compatable with UC.
> GFOW is now an addon to UC. UC is required in order to use GFOW. An old standalone will remain on the workshop.
	(All this update does is port over some content in UC but leaves MOST racial content intact)
^cyan;While you weren't in the TBs of GFOW:^reset;
> Added a new playable race, the Candavasians, highly customizable.
> Some old sprites have been revisted.
> No females added.
^orange;-----     0.5.4.2tb     -----^reset;
> Added 3 new decoration styles to Candavasians
> Added 9 new fur style options to Vanokkians.
> Changed the other 13 vanokkian fur styles to include patterns and look 400% nicer.
> Changed IDs for Sugar Reeds and Strawberry crops.
^orange;-----     0.5.4.1tb     -----^reset;
> Added 2 new spears
> Added 4 new syringes
> Added 5 new canned foods
> Added the Syringe weapon category
> Added fire and ice temple bricks.
> Added new Candavasian dialogue lines.
> Added Candavasian codices. Lore!
> Added KATTY-KAT mech body.
> Added legacy webbers back in as NPCs.
> Added amber.
> Added another 13 color options to Cands.
> Added bean jells. Unobtainable at the moment without admin mode.
> New anomaly effect caused by 0-0t syringe.
> Anomaly 1 (non-biome) effect now caused by Candavasian blood syringe.
> Food poisoning default time shortened from 2 minutes to 1 minute.
> Improved sprites for primitive spears.
> Mass image optimization (PNGGauntlet)
> Odd breadon and karadian carrots now give the bad taste debuff.
> Edited the gum body color option for cands to be more pretty.
> CANDS: Body Color is now Flavor.
> Moved around recipe file locations.
> Reduced costs on a few recipes
> Changed a lot of instances where it says colour into color. I'm not British.
> Adjusted prices on crafting materials.
> Edits to a lot of dialogue.
> For non-candavasians, you can now craft their seeds at their germination bench if you've discovered them before.
> Starborn armor is now craftable. Pick up black lico to unlock the recipes.
> Black lico's poison effect now lasts for only 2 minutes.
> Adjusted material costs in alt chocolate recipes.
> Gave Candavasians chat SFX, forgot to do that in the previous build! Oh well...
> Edited the non-Vanokkian microdungeons to spawn the legacy webbers.
> Typo fixes.
^orange;-----     0.5.4tb     -----^reset;
> Added sugar reed flooring
> Added Candavasian Seed Germination Station
> Candavasian plant seeds now craftable
> Added more to Candavasian and Vanokkian name generation.
> Added Weird Plant instrument (Not obtainable yet)
> Added chili pepper bombs, not yet craftable
> Added 13 new color options for Candavasians
> Pistachio colors for Candvasians edited
> Added Candavasian tenants. Still requires some more work.
> MOST of the Candavasian blocks are now unlockable by every race. Pick up chocolate bricks and sugar reed stalks!
> Added Ztarbound support
> Webbers are now called Vanokkians on the character creation screen. This will not bork up your characters.
> Vanokkians now have a new description.
> Candavasians have a new hurt sound.
> New sprite for Candavasian flag
> Pretty-ified chocolate bricks.
> Recipes for chocolate foods added
> Changed recipes for Candavasian clothing to use black lico
> Candavasians now get 2 cocoa berry seeds in shiplocker
> Black lico now spawns in shiplocker loot for Candavasians
> Fixes to food stack sizes on various food items
> Adjusted some recipes for crafting chocolate bricks and sugar reed tiles
> Adjusted silk pack recipes
> Adjusted crop drop pools to be more balanced.
> Increased silk production speeds
> Reduced material requirements for choco brick blocks.
> Fixes to plant stages
> Chocolate bricks now have 6 alts instead of 2.

^orange;-----     0.5.3.9tb     -----^reset;
> Added in Candavasians
> Vanokkian and Candavasian crops added
> Added 8 new materials (tiles and platforms)
> Added candy weapons (Shinigami-apples and Sky)
> Added Froster
> Revamped old and cruddy Vanokkian swords
> Vanokkian objects added
> Added status effect: Sugar-accelerated infection
> Added status effect: Lorum virus
> Added new stunlock effects
> Added anomaly 1 effect, not testable at the moment
> Slowed down breadon and strawberry growth
> Added webber eyes to drop from NPCs. :)
> Tweaked food values
> Added ERM description to GFOW objects.
> Zone 48 NPC edits
> Added Vanokkian Access Teleporter. Not obtainable yet.

^orange;-----     V.0.5.2.7.2     -----^reset;
> Added 3 more breeds into the character selection screen for webbers
> 2 new colors added to Vanokkian heads, for a total of 4 changed pixels.
> Nerfed stunguns
> Strawberries taken off of world gen
> Strawberry seeds on sale on terramart now (Requested by Cookie)

^orange;-----     V.0.5.2.7.1     -----^reset;
> Fixed strawberry seed crafting
> Added status effect: Bad food
> Added the ability to pick unripe strawberries
> Nerfed junk food
> Mass image optimization
> Added object descriptions to new webber furniture
> Typo fixes
  ",
	"welcome" : "Thanks for playing GFOW! Your feedback is highly appreciated, and so are the contributions!

^green;GFOW^reset;, or ^green;Galactic Federation of Webbs^reset; adds in two new playable species into Starbound!

^orange;Head over to the Umbral Coalition discord and meet the^reset; ^green;mad scientist^reset; ^orange;who made the UC AU!^reset;
^green;Discord invite code:^reset; 3BDGDdR
  ",
	"credits" : "-----
CREDITS FOR THOSE WHO HAVE WORKED ON AND HELPED WITH THE DEVELOPMENT OF GFOW
-----

  Making the mod:

Vetpetmon - Too much to list. The largest contributor to the AU and the mod.
C0bra5 - fixes to the silk generation effect.
ZimberZimber - Helping out with racial exceptions for the silk generation effect, and made Ztarbound.
Shinigami Apples - Sprites for objects and weapons, code for objects.
Valo - Sprited Tungsten Handlegun
TankSlayer2 - Concepts of the AU.
Arcticcloud - Lore, contributed acceptance of the Candavasians.
Sky - Sprited the Candy Corn Assault Rifle, Candy knife, and Gumball MACHINE-gun.
Kherae - Helping out with FR stats and abilities.
Slugbait - Candavasian Seed Germination Station sprite

  Testers:
Slugbait
Vetpetmon
TankSlayer2
(PLEASE contact Vetpetmon if you have tested GFOW's git build and your name is not on here!)

[The full credits page can be found in ^orange;credits.txt^reset; of the Github repository, or in the mod's files.]
  ",
	"info" : "^green;GFOW^reset; is an addon to UC that adds in fanmade content.

^orange;PLAYABLE RACES:^reset;
   - Vanokkians
   - Candavasians
  "
}
