{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Marshroot", "Sugar Reed", "Lico", "Cocoa Berry", "Sugar", "Gumball", "Eldritch", "Wasabi", "Hot", "Jello", "Honey", "Candy", "Choco", "Bean", "Skittles", "Jelly", "Chili", "Jellybean", "Topkek", "Freesh", "Peppermint", "Twinkie", "Cashew", "Ramen", "Cheeto", "Pistachio", "Almond", "Banana", "Flour", "Peanut", "Cup", "Buttercup", "Caramel", "Ice", "Avocado", "Cinnamon", "Cheesecake", "Chill" ],
      [ { "mode" : "alts" }, " Peeps", " Bunny", " Bun", " Pepper", " Skitz", " Mint", " Bag", " Chip", " Bear", " Bean", " Chocolate", " Avackadoo", " Cake", " Dragontail", " Spidey", " Cookie", " Noodle", " Dip", " Corn", " Beefcake", " Greg", " Nerd", " Butter", " Gum", " Moosetrack", " Fudge", " Frost", " Applejack", " Roll", " Banana", " Flour", " Peanut", " Cup", " Buttercup", " Caramel", " Ice", " Avocado", " Sauce" ]
    ]
  ]
}
