{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aaron", "Cristen", "Crystler", "Mer", "Heckis", "Ronal", "Dabb", "Reagan", "Ron", "Ross", "Tyson", "Mukow", "Chowie", "Chow", "Lark", "Clarke", "Porky", "Amond", "Kruger", "Har", "Rocco", "Rocc", "Hurr", "Jab", "Jason", "Daniel", "Ren", "Hush", "Hussie", "Kelvin", "Kevin", "Vin", "Vim", "Zim", "Zin", "Zenn", "Stark", "Vermin", "Vuggis", "Harris", "Harry", "Munny", "Mumbo", "Jumbo", "Gage", "Chew", "George", "Barry", "Neal", "Isaac", "Sayter", "Renny", "Trey", "Luke", "Danny", "Darkband", "Wozzard", "Mark", "Mace", "Marrok", "Vanos", "Tharr", "Harry" ],
      [ { "mode" : "alts" }, " Lupe", " Oz", " Oswaldo", " Waldo", " Dion", " Dish", " Dave", " David", " Davis", " Rory", " Dirr", " Roy", " Hub", " Bear", " Petter", " Cub", " Moon", " Finnce", " Vince", " Bud", " Lon", " Bon", " John", " Jon", " Garb", " Berris", " Hung", " Ezequiel", " Jake", " Ceejay", " Eli", " Manson", " Darkwynd", " Mize", " Noir", " Fair", " Walton", " Hightower", " Farrow", " Vogon", " Al-chief", " Noe", " Grim", " Needham", " Devito", " Willoughby", " Zak", " Mash", " Manno", " Arr", " Aeon", " Aego", " Arctic"]
    ]
  ]
}
