{
"greeting" : {
"default" : {
"default" : [
"Hi.",
"Who're you?",
"Hello."
]
}
},
"converse" : {
"default" : {
"default" : [
"What's your name?",
"We're <selfname>, and who're you?",
"Where did you come from?",
"Stay safe out there, strange friend.",
"Want to be friends?",
"I wonder why we have other breeds in our DNA...",
"Do you know who created us?",
"What's the answer to life, the universe, and everything?",
"You're welcome to stay here.",
"Anything interesting going on?",
"Wanna rant about politics?",
"I'm really curious about the surface of Vanokk. Is there a reason why the Federation banned all access to it?"
],
"webber" : [
"Wow, you're different.",
"I got a thing on my computer and it's asking for a thousand pixels. Can you help us?",
"What's our purpose here, our purpose in life, where no one can hear you scream. No one can help you. All because everyone else from above simply doesn't give a crud about us. Don't you just wonder about this at times?",
"We're simulated in a simulation. Snap back to reality. When's the last time you went on a walk? When's the last time ever since you actually talked to someone face-to-face?",
"I had eaten my Skutzer who died a few years ago. It was tasty.",
"Avians are just big birds. We wish we could eat them, but we'd start a war over that.",
"We hiss back at florans. It's actually pretty satisying.",
"Have you heard the news lately?",
"Hello, we're <selfname>, and we don't know what we're doing here.",
"We're surprised by the very existance of other civilizations of our own kind... Or those similar.",
"Our first adopted son fell in the meat grinder. At least the shamburrs tasted good that night.",
"I came face-to-face with a mutant of sorts back on Vanokk. It was quite harmless, actually.",
"We broke our legs before. Our last words before that happened were \"Hey, watch this!\"...",
"Have you met a Woggle before? They're quite the six-legged things out there.",
"Anything interesting going on?",
"Want to rant about politics?",
"We wonder what it's like to work on a space ship.",
"I used to own a canine imported from Earth. Two weeks later something tore it up into peices."
],
"candavaswebber" : [
"Hello? Do you speak something a bit more... universal?",
"\"Blooop blap\"? What does that even mean?",
"You're some funny smelling people.",
"Are you safe to eat?",
"What a confusing being you are! You both look and don't look like us.",
"You worship gods and powerful entities, including a living HOT DOG???"
]
}
},
"accuse" : {
"default" : {
"default" : [
"HIISSSSSS, they're stealing our stuff!",
"Stop taking our stuff, it's not yours!",
"Thief!",
"Thieves are food, not friends!"
]
}
},
"alert" : {
"default" : {
"default" : [
"Guards! Guards! We need your support! They're robbing us!",
"Looks like we're having a thief for dinner tonight!",
"HISSSSSSSSSSSSSSS, give the nasty little thief a trip to prison!"
]
}
},
"tagCriteria" : {
"default" : {
"default" : [
"Are we missing something?",
"Our home is changed in a way we didn't want it to be.",
"I don't like these changes to my home."
]
}
},
"enclosedArea" : {
"default" : {
"default" : [
"Oh no! Our home is damaged!",
"I don't want to live unprotected from nasty weather!",
"Ahhh! There's rain water leaking onto my carpet!"
]
}
},
"otherDeed" : {
"default" : {
"default" : [
"Oh, how RUDE! Someone wants to invade our living quarters!",
"We'd like to have our own personal space, thanks.",
"Grrr, this is OUR territory!",
"Is this place going through overpopulation?"
]
}
},
"severe" : {
"default" : {
"default" : [
"We're ready to pack our bags.",
"We're really upset with these poor conditions."
]
}
},
"final" : {
"default" : {
"default" : [
"We're out of here. I better get my money back after this.",
"What a disapointment! We'll live somewhere else."
]
}
},
"beacon" : {
"default" : {
"default" : [
"What do you need help with?",
"Wanna talk?"
]
}
},
"rent" : {
"default" : {
"default" : [
"We don't have much, but here's a gift for you!",
"I hope you're having a wonderful day today, because I've got a gift for you!"
]
}
},
"cheerOn" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"helpme" : {
"default" : {
"default" : [
"Help us! Our fangs aren't good for self-defense!",
"Help! We have eight legs, but none have a weapon in them!",
"We're scared! We don't want to fight!",
"Please don't hurt us, we're not tasty!"
]
}
},
"helpthem" : {
"default" : {
"default" : [
"Someone's in trouble! We'll go get the guards!",
"We'll help save you!"
]
}
},
"encourage" : {
"default" : {
"default" : [
"We'll win this battle!"
]
}
},
"safe" : {
"default" : {
"default" : [
"Phew, that was close!",
"We're not gonna be able to sleep tonight.",
"That was scarry!",
"Am I safe?"
]
}
}
}
