{
	"merchantStart": {
		"webber": {
			"default": [
				"We accept pixels here!",
				"I sell pixels for a living!",
				"Goods for sale!",
				"Everything's on a itty bitty tiny discount for a limited time! Well, almost everything."
			]
		}
	},
	"merchantEnd": {
		"webber": {
			"default": [
				"Come back again!"
			]
		}
	},
	"follow": {
		"webber": {
			"default": [
				"Let us lead you to our register."
			]
		}
	},
	"welcome": {
		"webber": {
			"default": [
				"How can we help you today?"
			]
		}
	},
	"tout": {
		"webber": {
			"default": [
				"Goods for sale!",
				"Sales on EVERYTHING!",
				"We sell the best stuff out here!"
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"Thieves! Thieves!",
        "Get the TEU in here right now!"
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"Call the guards!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"Help! We have eight legs, but none have a weapon in them!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Phew, that was close!",
				"We're not gonna be able to sleep tonight.",
				"That was scarry!",
				"Am I safe?"
			]
		}
	}
}
