{
	"hail": {
		"webber": {
			"default": [
				"Don't bother us, don't pet us, and don't even try."
			],
			"webber": [
				"Obey the law.",
        "Stay outta trouble.",
        "We're always watching for the safety of our people."
			]
		}
	},
	"converse": {
		"default": {
			"default": [
				"What? I've got nothing for you. Don't make us show you what you've got for me, though.",
        "I'm not \"cute\", stop saying that to us.",
        "Don't even try to pet us. I don't like it.",
        "You are of no use to us. Go away.",
        "We do not care to protect you. Nor does the Federation."
			],
			"webber": [
				"I have no time for small talk.",
        "Go play with your commonfolk friends. We're here to protect.",
        "We are federal officiers. Keep your mouth shut and keep moving."
			],
			"candavaswebber" : [
				"Get your twinkle-toed sugar-coated smirk out of my sight.",
				"If you didn't smell like pure nightmares maybe we'd have more respect towards your people.",
				"You are of no use to us. Go away.",
				"Keep your inaudible tongue down. Your blooping is disrupting everyone's conversations.",
        "We do not care to protect you. Nor does the Federation."
			]
		}
	},
	"reattack": {
		"default": {
			"default": [
				"CONTINUING THE ATTACK!",
        "ELIMINATE ALL LAW BREAKERS!"
			]
		}
	},
	"attack": {
		"default": {
			"default": [
				"Hisss, you're better off as a meal anyway!",
        "Hands up!"
			]
		}
	},
	"killedTarget": {
		"default": {
			"default": [
				"Target is down. ",
           " Returning to patrol.",
           "The area has been secured. "
			]
		}
	},
	"lostTarget": {
		"default": {
			"default": [
				"Heck! They've gone out of our view!",
        "I better not be seeing things.",
        "Where are youuuu?"
			]
		}
	},
  "outOfSight":{
    "default" : {
      "default" : [
        "This isn't over yet.",
        "All units on high alert! This is code red!"
      ]
    }
  },
  "cantReach":{
    "default" : {
      "default" : [
        "DON'T LET THEM ESCAPE!"
      ]
    }
  },
  "cheerOn":{
    "default" : {
      "default" : [
        "Get them!",
        "We'll get you for sure!"
      ]
    }
  },
	"accuse" : {
		"default" : {
      "default" : [
        "Hiss, that's not your property.",
				"Put that back right where it belongs, sir!",
				"HALT! YOU'RE BREAKING THE LAW!"
      ]
    }
	}
}
