{
	"greeting": {
		"default": {
			"default": [
				"Hi."
			],
			"webber": [
				"Hi.",
        "What's up?",
        "Welcome to the outpost here!"
			]
		}
	},
	"converse": {
		"default": {
			"default": [
				"Hey.",
        "Are you native to this planet?"
			],
			"webber": [
				"The fed's working on something. I dunno, we've only heard rumors as of now.",
        "Apparently, Vanokk was damaged badly way after we put our eight legs onto this planet.",
        "The federation doesn't want us to build large settlements on other planets. We wonder why.",
        "Somewhere, someplace, there's something still out there to exterminate us.",
        "The GFOW is oddly unhappy after the report that the Protectorate was destroyed."
			],
			"candavaswebber" : [
				"What are you...?",
				"Where did you come from?",
				"You're certainly a weird person for sure.",
				"How'd you mutate to have all of those colors?",
				""
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"Thieves! Thieves!",
        "Get the TEU in here right now!"
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"Call the guards!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"Help! We have eight legs, but none have a weapon in them!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Phew, that was close!",
				"We're not gonna be able to sleep tonight.",
				"That was scarry!",
				"Am I safe?"
			]
		}
	}
}
