{
"greeting" : {
"default" : {
"default" : [
"Blyp!",
"Blyp.",
"Bly OO OOP!",
"Blep blop bloop!",
"Chirp!",
"Doop dap!",
"Doop!",
"Owoa!",
"Zoop zap!",
"Ding!",
"Dap reah!"
],
"candavaswebber" : [
"Hello!",
"Hi!",
"Hello.",
"How's it going?",
"How's your day?",
"Hi.",
"May Rythos guide you to a great day, today!"
]
}
},
"converse" : {
"default" : {
"default" : [
  "Blllll yip!",
  "Blyp bloop ding dah.",
  "Bly bap les glip!",
  "Blep blop bloop baha doop.",
  "Chirp ick a maa.",
  "Eeek a ma.",
  "Quesa, kee loo.",
  "Dooyuu yan gaan eep!",
  "Zoopie yappie clap?",
  "Gloorp glep, gloop eek boop?"
],
"candavaswebber" : [
"Ever wonder why Lucy has been destroying weaker civilizations on Candavas?",
"The Sa'roo have been surving the gods. I wonder if we could have one as a friend around here.",
"Challenging Lucy without preparation is not wise, but so is fighting her with a flavor on you.",
"Have you worshiped Rythos today?",
"May Rythos bless you with the best of luck.",
"I wish I could go through a trial, but I'm scared about getting heart damage.",
"You must be very brave to send us to another planet!",
"Someday, we'll find the pathway of the stars once more.",
"There's black fuzzy things that look like us, do you know what they are?",
"Myra created all of the life on Candavas. I wonder if she appreciates her gifts being brought to other worlds.",
"Black holes are interesting. The Milky Way's center has one, and it sure is having some strange readings.",
"Have you tried making any spice mines yet?",
"Hee hee, humans don't understand us. They just call us magical beings and run the other way. How silly!",
"The Apex are interesting. Are they just humans devolved, or apes evolved?",
"Avians have weird worshipping practices. Why do they jump off of temples and flap their arms wildly?",
"Hylotl traditions are cool! I mean, they have anime, but did it waaay better than humans.",
"What are the Novakids? I'm researching about them for a project."
]
}
},
"accuse" : {
"default" : {
"default" : [
"BLYAP!",
"WEEP!",
"WEEOO WA!"
]
}
},
"alert" : {
"default" : {
"default" : [
"BLYAP!",
"WEEP!",
"WEEOO WA!"
]
}
},
"tagCriteria" : {
"default" : {
"default" : [
"Kreee?",
"Bleeleelee?",
"Que?",
"Dap ree skaa?",
"Weer? Le laap doopla?"
],
"candavaswebber" : [
"What? I don't believe this was the way I left things!"
]
}
},
"enclosedArea" : {
"default" : {
"default" : [
"Keeka koopaa bloop grrr.",
"Jerrrr ferrr.",
"Blya eeet bonk."
],
"candavaswebber" : [
"What's this? A leak?",
"Some fresh outdoor air doesn't exactly belong here."
]
}
},
"otherDeed" : {
"default" : {
"default" : [
"BLRRRRR!",
"Jerrrr ferrr.",
"Blya eeet bonk.",
"Mah shan LAY grrr."
],
"candavaswebber" : [
"We don't have space for two people in here!",
"Ugh, I want my personal space in my home."
]
}
},
"severe" : {
"default" : {
"default" : [
"Grrr berrr.",
"Jerrrr ferrr.",
"Blya et bonk.",
"Mah shan le grrr."
],
"candavaswebber" : [
"Hello? This place needs fixing!"
]
}
},
"final" : {
"default" : {
"default" : [
"Blerrrr gurgle.",
"Grrrab glooob."
],
"candavaswebber" : [
"Alright, that's it."
]
}
},
"beacon" : {
"default" : {
"default" : [
"Boop beep?",
"Loop gloop?",
"Eeey wa blap?",
"Doopie bap la gleep?",
"Weep woop?"
],
"candavaswebber" : [
"What do you need?",
"Yes?"
]
}
},
"rent" : {
"default" : {
"default" : [
"Bloop blaap bleeleeleelee doop yip!",
"Bool leep doop!",
"Weeweewee ooloolool laa.",
"Dwoop dwap wee!",
"Joop wap blee."
],
"candavaswebber" : [
"Here, have this!",
"A gift to you! Thanks for keeping us safe!"
]
}
},
"cheerOn" : {
"default" : {
"default" : [
"YOOPA YIP! YOOPA YIP! YOOPA YIP!",
"BLEEEP BLOOP! BEEP LA MOOP!",
"AI LA MO!"
]
}
},
"helpme" : {
"default" : {
"default" : [
"SKREEE!",
"AIYE!",
"BLEEPOWOO!"
]
}
},
"helpthem" : {
"default" : {
"default" : [
"SKREEEWOO SKREEEWOO SKREEEWA!",
"WEEEWOO",
"AIYE WEE BLOOP BLAP!"
]
}
},
"encourage" : {
"default" : {
"default" : [
"SKRRRREEEBA!",
"BLYYOOOP!"
]
}
},
"safe" : {
"default" : {
"default" : [
"Byrrrp boop boin.",
"Byoop? Aiye la doop boin."
]
}
}
}
