{
  "webberpets" : [
    [0, [
      { "item" : { "name" : "webskutzerhome", "rarity" : 0.8 } },
      { "item" : { "name" : "henegg", "rarity" : 0.2 } },
      { "item" : { "name" : "robothenegg", "rarity" : 0.2 } },
      { "item" : { "name" : "mooshiegg", "rarity" : 0.2 } },
      { "item" : { "name" : "fluffaloegg", "rarity" : 0.2 } },
      { "item" : { "name" : "firefluffaloegg", "rarity" : 0.2 } },
      { "item" : { "name" : "poisonfluffaloegg", "rarity" : 0.2 } },
      { "item" : { "name" : "icefluffaloegg", "rarity" : 0.2 } },
      { "item" : { "name" : "electricfluffaloegg", "rarity" : 0.2 } },
      { "item" : { "name" : "petball", "rarity" : 0.2 } },
      { "item" : { "name" : "pethouse", "rarity" : 0.2 } }
      ]
    ]
  ]
}
